# Backend Server
PORT=5000
NODE_ENV=development

# PostgreSQL Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=minha_base
DB_USER=admin
DB_PASSWORD=admin123

DATABASE_URL="postgresql://admin:admin123@localhost:5432/minha_base?schema=public"

# JWT
JWT_SECRET=sua_chave_secreta_jwt
JWT_EXPIRES_IN=1d

# Frontend URL (CORS)
FRONTEND_URL=http://localhost:5173
